<ion-view>
    <ion-nav-title>Input Annotation</ion-nav-title>
    <ion-content>
        <form class="list">
            <ion-radio ng-model="annotation.annotationID" ng-value="2">pH Base</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="3">pH Acid</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="4">Crops Harvested</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="5">Organisms Harvested</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="6">Crops Added</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="7">Crops Removed</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="8">Organisms Added</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="9">Organisms Removed</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="10">Bacteria Added</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="11">Bacteria Removed</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="12">Clean Tank</ion-radio>
            <ion-radio ng-model="annotation.annotationID" ng-value="14">Organisms Reproduction</ion-radio>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" ng-model="annotation.date">
            </label>
            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="time" ng-model="annotation.time">
            </label>
            <div class="padding">
                <a class="button button-positive button-block" ng-click="submitAnnotation(annotation)">Submit</a>
            </div>
        </form>
    </ion-content>
</ion-view>