<ion-view>
    <ion-nav-title>Dashboard</ion-nav-title>
    <ion-content>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Light Intensity</span>
                <input type="number" ng-value="system.light">
            </label>
            <label class="item item-input">
                <span class="input-label">Timestamp</span>
                <input type="date" ng-value="system.date">
            </label>
            <div class="padding">
                <a class="button button-positive button-block" ng-click="read()">Read</a>
            </div>
        </form>
    </ion-content>
    <ion-pane ng-hide="systemID">
        <h4 class="background-message" ng-bind="missingSystemMessage"></h4>
    </ion-pane>
</ion-view>