<ion-side-menus enable-menu-with-back-views="false">
    
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <a class="button button-icon icon" menu-toggle="left"><i class="fa fa-bars fa-lg"></i></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="details"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="large">
        <ion-nav-view name="systems"></ion-nav-view>
    </ion-side-menu>

</ion-side-menus>