<ion-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar">
                <img ng-src="{{user.picture}}"/>
                <h2 ng-bind="user.name"></h2>
                <p ng-bind="user.email"></p>
            </ion-item>
            <ion-item ng-repeat="item in menu" ng-bind="item.name" ng-click="item.onTap()" menu-close></ion-item>
        </ion-list>
    </ion-content>
</ion-view>