<link href="css/portal.css" rel="stylesheet">
<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title text-center">Portal</h1>
    </ion-header-bar>
    <ion-content>
        <!--
        <img id="banner" src="img/Green Linen Logo.jpg"/>
        -->
        <form class="list" ng-submit="login()">
            <div class="padding">
                <p class="message" ng-show="message" ng-bind="message"></p>
                <input type="submit" class="button button-assertive button-block" value="Google Sign In">
            </div>
        </form>
    </ion-content>
</ion-view>